# ignore Idea artifacts
/.idea/
*.iml
*.ipr
*.iws

# ignore Eclipse artifacts
/.classpath
/.project
/.settings

# ignore things created by the build
/build/
/.gradle

# Ignore various temporary files
*.bak
*.swp

